<% content_for(:title, "新規登録") %>

<div class="w-full max-w-full sm:max-w-md mx-auto p-8 space-y-6  rounded">
  <h2 class="text-2xl font-bold text-center">新規登録</h2>
  <%= form_with(model: @user, local: true) do |form| %>
    <%= render 'shared/error_message', object: @user %>
    <div class="form-control mt-6">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input w-full bg-white #{input_error_class(@user, :name)}" %>
    </div>
    <div class="form-control mt-6">
      <%= form.label :email, class: "label" %>
      <%= form.email_field :email, class: "input w-full bg-white #{input_error_class(@user, :email)}" %>
    </div>
    <div class="form-control mt-6">
      <%= form.label :password, class: "label" %>
      <%= form.password_field :password, class: "input w-full bg-white #{input_error_class(@user, :password)}" %>
      <span class="label text-sm">※半角英数字8文字以上</span>
    </div>
    <div class="form-control mt-4">
      <%= form.label :password_confirmation, class: "label" %>
      <%= form.password_field :password_confirmation, class: "input w-full bg-white #{input_error_class(@user, :password_confirmation)}" %>
    </div>
    <div class="form-control mt-8">
      <%= form.submit "登録", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
  <div class="mt-4 text-center">
    <%= link_to "ログイン", "#", class: "text-blue-500 hover:underline" %>
  </div>
</div>