<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">English Diary</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if logged_in? %>
        <li>
          <details>
            <summary><%= current_user.name %></summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><%= link_to "プロフィール" %></li>
              <li><%= link_to "ログアウト" %></li>
            </ul>
          </details>
        </li>
      <% else %>
        <li><%= link_to "ログイン", new_session_path %></li>
        <li><%= link_to "新規登録", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>